# Required fields
modelName                               il10
pathToModelFile                         models/il10

# Optional fields
labelTypes                              ENTITY

GazetteersFeatures						1
pathToGazetteersLists					/home1/x/xdyu/experiment/lorelei19/resources/il10/gazetteers

pathsToBrownClusters					/home1/x/xdyu/experiment/lorelei19/resources/il10/brown_set0_2000/paths
minWordAppThresholdsForBrownClusters	5
isLowercaseBrownClusters				false

#labelsToIgnoreInEvaluation				MISC
#labelsToAnonymizeInEvaluation			PER ORG LOC

# noise level
randomNoiseLevel                        0.0
omissionRate                            0.0

# parameter sweep reveals these to be the best params, L2 model is best.
# These were identified as part of the L1 L2 split parameter sweep of Oct '17
learningRatePredictionsLevel1           .04
thicknessPredictionsLevel1              40
learningRatePredictionsLevel2           .04
thicknessPredictionsLevel2              40

